<h1>
  This is the Admin's Main Page - Will have a list of all leagues managed, create, and delete buttons. Time of when created.
</h1>
<button>Create</button>
<ul>
  <li>List of Leagues Managed 
    <button>Update</button>
    <button>Delete</button>
  </li>
</ul>


