
 <div class="row" style="align-items: center">
    <button class="btn btn-lg btn-success";"><a style="text-decoration:none; color:white" href="/newleague">Create League</a></button>
  
    <div class="campaign-row row">
    <h3 class="text-center">Your Leagues</h3>
    <% leagues.forEach((league) => { %>
      <div class="col-sm-3 home-campaign-box">
        <img src="http://noideasports.com/wp-content/uploads/2017/01/cornhole.png">
        <div class="campaign-info-wrapper">
          League Name:
          <a class="title" href="/leagues/<%= league._id %>">
            <h5><strong><%= league.leagueName %></strong></h5>
          </a><br>
          Created By <span class="light-text"><%= league._creator %></span><br>
          <span class="light-text description">Number of Teams: <%= league.teams.length %></span>
          <form action="/:id/delete"><button type="submit">Delete League</button></form>
        </div>
      </div>
    <%  }) %>
  </div>
  </div>

