<div class="container">
    <div class="row">
      <div class="col-sm-6 centered-form">
        <form action="/leagues/<%=league._id%>" method="post">
          <div class="form-group">
            <label for="title">LeagueName</label>
            <input type="text" name="title" class="form-control" value="<%= league.leagueName %>">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              name="description"
              class="form-control">
              <%= league.description %>
            </textarea>
          <div class="form-group">
            <button type="submit">Update League</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<% if (typeof(errors) !== 'undefined') { %>
    <div class="alert alert-danger">
        <ul>
            <% for (let error in errors) { %>
                <li><% errors[error].message %></li>    
            <% } %>
        </ul>
    </div>
<% } %>