<div class="container">
  <div class ="newTeam">
   <div class ="row">
      <div class="col-sm-6 centered-form">
        <form action="/new" method="post">
    
          <div class="form-group">
            <label for="leagueName">LeagueName</label>
            <input type="text" name="leagueName" class="form-control">
          </div>
          
         </div>
    </div>
  
    <section class="info-container">
        <h2>Add Your Teams</h2>
      </section>
    
      <!-- We create another section to indicate where we will be including
      information about our items -->
      <section id="items-list" class="container">
        
        <!-- Each individual div element with the class "item-row" will represent
        one line item. -->
        <div class="item row">

          <div class="item-qty col-xs-3">
            <label>Team Name</label>
            <input name="teamName" class="quantity" value="">
          </div>
    
    
          <!-- div with a delete button to remove the item from the list -->
          <div class="item-delete col-xs-3">
            <button class="btn btn-delete">Delete Team</button>
          </div>
        </div>

        <div class="item row">
          
          <div class="item-qty col-xs-3">
            <label>Team Name</label>
            <input name="teamName" class="quantity" value="">
          </div>
          
          <div class="item-delete col-xs-3">
            <button class="btn btn-delete">Delete Team</button>
          </div>
          <div class="col-xs-2">
              <button type="button" id="new-item-create">Add New Team</button>
            </div>
        </div>


    
       
        
        
        <!-- Div that will contain all the information that we
        will specify to create a new product. -->

        
        <!-- Container to hold button allowing us to calculate prices for all
        products based upon their quantities -->
      </section>
    
      <!-- Container to hold total price of all products -->
          
 
       
        <button action="/new" type="submit">Finalize League</button>
        </form>
      </div>
 
</div>


