<div class="container">
  <div class ="newTeam">
   <div class ="row">
      <div class="col-sm-6 centered-form">
        <form action="/newleague" method="post">
    
          <div class="form-group">
            <label for="leagueName">LeagueName</label>
            <input type="text" name="leagueName" class="form-control">
          </div>
          
         </div>
    </div>
  
  
 
       
        <button type="submit">Create League Name</button>
        </form>
      </div>
 
</div>


